.image{
   align-items: center;
    background-image:url(https://th.bing.com/th/id/OIP.ZBGSJvr9Uvm4MlPD1HkonQAAAA?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;}

body{
    background-color: bisque;
}
header{
    background-color: #63855ba2;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: rgb(222, 184, 135);
}

.menu{
    color:blueviolet;
    text-decoration: none;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.centrer {
       width: 30cm;
       height: 15;
      }
h1{
    text-align: center;
    color:blueviolet
}