.image{
   align-items: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;}

body{
    background-color: bisque;
}
header{
    background-color: #63855ba2;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;
}

.menu{
    color:blueviolet;
    text-decoration: none;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 50px;
}

h1{
    text-align: center;
    color:blueviolet
}
.position_photo{
    float: left;
    border-color: red;
}
button{
    border-radius: 1cm;
    background-color: blueviolet;

}
span{
    background-color: cyan;
}