body{
    background-image:url(https://i.pinimg.com/736x/c0/d7/a2/c0d7a282c2eccc02bb813a1a5c18baab.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu{
    color:rgb(226, 141, 43);
    text-decoration: none;
    padding: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
